body{
	margin: 0px;
	padding: 0px;

}

.bg_image{
    background-image: url(../img/verify/logo.jpg);
    background-repeat: no-repeat;
   
    height: auto;
    border: 1px solid #000;
    margin-top: 25px;
    padding: 25px;
    margin-bottom: 25px;
        background-size: auto;
    background-position: center;
}
.weight{
	font-weight: bold;
	border: hidden;
}
.opacity{

background: #ffffffd4;

}